.TravalListItemContianer {
  width: 95%;
  margin: 2%;
  border: 1px solid #ccc;
  border-radius: 10px;
  margin-bottom: 2%;
  background-color: #fff;
}

.upHalfOfItem {
  display: flex;
  justify-content: center;
  .image {
    width: 45%;
    height: 240rpx;
    margin: 2%;
  }
  .rightOfUp {
    width: 45%;
    margin-left: 5%;
    margin-top: 3%;
    margin-right: 5%;
    display: flex;
    flex-direction: column;
    .title {
      font-size: 36px;
      font-weight: bold;
      margin-bottom: 10px;
      overflow: hidden; /* 隐藏超出容器的部分 */
      white-space: nowrap; /* 防止文本换行 */
      text-overflow: ellipsis; /* 显示省略号 */
    }
    .description {
      display: -webkit-box;
      -webkit-box-orient: vertical; /* 设置子元素的排列方式为从上到下垂直排列 */
      font-size: 28px;
      color: #666;
      overflow: hidden; /* 隐藏超出容器的部分 */
      text-overflow: ellipsis; /* 显示省略号 */
      -webkit-line-clamp: 4; /* 设置显示的行数，这里为3行 */
      word-wrap: break-word; /* 防止长单词或 URL 地址撑破容器 */
    }
  }
}

.downHalfOfItem {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 5%;
  margin: 2%;
  .leftOfDown {
    display: flex;
    align-items: center;
    .statusIcon-Auditing {
      background-color: orange;
      border-radius: 50%;
      padding: 15px 15px;
    }
    .statusText-Auditing {
      position: absolute;
      background-color: orange;
      border-top-right-radius: 15px;
      border-bottom-right-radius: 15px;
      color: #fff;
      padding: 5px 10px;
      z-index: 1;
      left: 16%;
    }
    .statusIcon-NoPass {
      background-color: red;
      border-radius: 50%;
      padding: 15px 15px;
    }
    .statusText-NoPass {
      position: absolute;
      background-color: red;
      border-top-right-radius: 15px;
      border-bottom-right-radius: 15px;
      color: #fff;
      padding: 5px 10px;
      z-index: 1;
      left: 16%;
    }
    .statusIcon-Pass {
      background-color: green;
      border-radius: 50%;
      padding: 15px 15px;
    }
    .statusText-Pass {
      position: absolute;
      background-color: green;
      border-top-right-radius: 15px;
      border-bottom-right-radius: 15px;
      color: #fff;
      padding: 5px 10px;
      z-index: 1;
      left: 16%;
    }
  }
  .rightOfDown {
    display: flex;
    align-items: center;
  }
  .editBtn {
    margin-right: 50px;
    padding: 1% 1%;
    width: 50%;
    border-radius: 15px;
  }
  .deleBtn {
    padding: 1% 1%;
    width: 50%;
    border-radius: 15px;
  }
}
