.loginBtnWeChat {
  position: absolute;
  left: 17%;
  bottom: -50%;
  width: 70%;
  z-index: 1;
  background-color: #13c163;
  color: rgba(255, 255, 255, 1);
  border-radius: 50px;
  letter-spacing: 10px;
}
