.listItemContainer {
  height: auto;
  border: 1px #ccc solid;
  border-radius: 10rpx;
  display: inline-block;
  overflow: hidden;
  background-color: #fff;
}

.listItemInfo {
  padding: 10rpx;
  align-items: center;

  .listItemInfo-left {
    display: flex;
    float: left;
  }
}

.listItemInfo-right {
  position: relative;
  left: 2%;
  top: 75%;
  z-index: 1;
  width: auto;
  background-color: #333;
  border-radius: 30px;
  opacity: 0.5;
  color: #fff;
  padding: 0 3%;
  display: inline-block;
}

.videoIcon {
  position: fixed;
  right: 5%;
  top: 5%;
  z-index: 1;
}

.listItemAvatar {
  width: 50rpx;
  height: 50rpx;
  line-height: 50rpx;
  margin-bottom: 10rpx;
}

.listItemUsername {
  margin-left: 10rpx;
  margin-top: 10rpx;
  font-size: 24px;
  color: #797676;
}

.listItemTitle {
  margin-left: 4%;
  margin-bottom: 4%;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  /* 设置子元素的排列方式为从上到下垂直排列 */
  overflow: hidden;
  /* 隐藏超出容器的部分 */
  text-overflow: ellipsis;
  /* 显示省略号 */
  -webkit-line-clamp: 2;
  /* 设置显示的行数，这里为3行 */
  word-wrap: break-word;
  /* 防止长单词或 URL 地址撑破容器 */
}

.listItemImage {
  width: 100%;
}
