.infoContainer {
  height: 20vh;
  font-size: 1.5em;
  font-weight: bold;
  color: #fff;
  // https://picnew13.photophoto.cn/20190127/jianyuejianbiantongyongbeijingsucai-32433485_1.jpg
  background-image: url(https://img2.baidu.com/it/u=1729698981,848523456&fm=253&fmt=auto&app=138&f=JPEG?w=700&h=328);
  // background-color: rgba(255, 255, 255, 0.5); /* 白色背景，50% 透明度 */
  background-blend-mode: lighten; /* 这将背景色与背景图像混合 */
  .infoAvatar {
    position: absolute;
    left: 5%;
    top: 5%;
  }
  .infoName {
    position: absolute;
    left: 25%;
    top: 7%;
  }
  .infoBtn {
    position: fixed;
    right: 0%;
    top: 8%;
    width: 20%;
    font-size: 0.5em;
    background-color: #edfafb;
    color: #6eabd4;
    border-bottom-left-radius: 50px;
    border-top-left-radius: 50px;
  }
}
